---
import Layout from '@/layouts/Layout.astro';
import { MagicLinkAuth } from '@/components/auth/MagicLinkAuth';

const url = new URL(Astro.request.url);
const token = url.searchParams.get('token') || '';
---

<Layout title="Magic Link Sign In - ONE">
  <div class="flex items-center justify-center min-h-[calc(100vh-8rem)] px-4">
    <MagicLinkAuth token={token} client:load />
  </div>
</Layout>
