---
import Layout from '../layouts/Layout.astro';
import ReadmeContent from '../../README.md';
---

<Layout title="README" description="ONE - Bring Your Ideas to Life">
  <div class="container mx-auto px-4 py-8 max-w-[800px]">
    <div class="prose dark:prose-invert max-w-none">
      <article>
        <ReadmeContent />
      </article>
    </div>
  </div>
</Layout>
