---
import Layout from '@/layouts/Layout.astro';
import { ResetPasswordForm } from '@/components/auth/ResetPasswordForm';

const url = new URL(Astro.request.url);
const token = url.searchParams.get('token') || '';
---

<Layout title="Reset Password - ONE">
  <div class="flex items-center justify-center min-h-[calc(100vh-8rem)] px-4">
    <ResetPasswordForm token={token} client:load />
  </div>
</Layout>
